<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/head :: headImports}"></head>
  <style>
    .lblCliente{font-weight: bold;}
  </style>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- cabeçalho boas vindas -->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Listagem de Técnicos</h3>
                </div>
              </div>
            </div>
          </div>
                <!-- conteúdo principal -->
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                      <div class="card table-bg">
                        <div class="card-people mt-auto">
                          <h4 class="m-4">Clientes cadastrados no sistema</h4>
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">Ações</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="cliente : ${clientes}">
                                <td th:text="${cliente.id}"></td>
                                <td th:text="${cliente.nome}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td><a class="btn btn-warning" th:href="@{editar/{id}(id=${cliente.id})}">EDITAR</a>
                                <a class="btn btn-danger" th:href="@{excluir/{id}(id=${cliente.id})}">Excluir</a></td>
                              </tr>
                            </tbody>
                          </table>
                          <!-- paginação da tabela -->

                          <nav class="m-4">
                            <ul class="pagination">
                              <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item " aria-current="page">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 grid-margin transparent">
                     <!-- conteudo indefinido -->
                    </div>                    
                  </div>
        </div>
        </div> 

        <div th:replace="~{fragments/modal :: modalEdit}"></div>

  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/dashboard.js"></script>
  <!-- End custom js for this page-->


</body>
</html>