<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/head :: headImports}"></head>
  <style>
    .lblCliente{font-weight: bold;}
  </style>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- cabeçalho boas vindas -->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Cadastro de Técnicos</h3>
                </div>
              </div>
            </div>
          </div>
                <!-- conteúdo principal -->
            <form th:action="@{/tecnico/cadastro-tecnico}" method="post" th:object="${tecnico}" enctype="multipart/form-data">
                <div class="row">
                  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <!-- field nome -->
                <div class="form-group col-4">
                    <label for="nome" class="lblCliente">Nome:</label>
                    <input type="text" class="form-control"  autocomplete="off" th:field="*{nome}" id="nome" placeholder="Nome: ">
                </div>
                    <!-- field e-mail -->
                <div class="form-group col-4">
                    <label for="email" class="lblCliente">E-Mail:</label>
                    <input type="email" class="form-control"  autocomplete="off"  id="email" th:field="*{email}" placeholder="E-Mail: ">
                </div>

                <div class="form-group col-4">
                    <label for="senha" class="lblCliente">Senha:</label>
                    <input type="password" class="form-control" th:field="*{senha}" id="senha" placeholder="Senha: ">
                </div>

            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="arquivo" class="lblCliente">Imagem Perfil:</label>
                    <input type="file" class="form-control" name="file" id="arquivo" placeholder="Senha: ">
                </div>

                <div class="form-group col-6">
                    <label for="senha" class="lblCliente">Perfil:</label>
                    <select name="" id="" class="form-control">
                        <option th:each="perfil : ${perfils}" th:text="${perfil}" th:value="${perfil}"></option>
                    </select>
                </div>
            </div>
               
            <button type="submit" class="btn btn-success btn-rounded mt-4">SALVAR INFORMAÇÕES</button>
            </form>
          
        </div>
        </div> 

          <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>
</html>