<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:include="~{fragments/head :: headImports}" ></head>

<body>
 <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo d-flex justify-content-center">
                <img src="../../images/login.jpg" alt="logo">
              </div>
              <h4>Olá seja bem-vindo(a)!</h4>
              <h6 class="font-weight-light">Para continuar faça login</h6>
              <form class="pt-3" method="post" th:action="@{/login}">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" name="username" id="exampleInputEmail1" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" name="password" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium">LOGAR</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="text-muted">
                      <input type="checkbox" id="remember-me" name="remember-me">
                      Continuar Logado
                    </label>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
   </div>

</body>

</html>
