<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/head :: headImports}"></head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- cabeçalho boas vindas -->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Seja Bem-Vindo(a), <span th:text="${#authentication.getPrincipal().getNome()}"></span> </h3>
                </div>
              </div>
            </div>
          </div>
            <!-- content main -->
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card table-bg">
                <div class="card-people mt-auto">
                  <div class="d-flex justify-content-between align-items-baseline">
                    <h4 class="m-4">Últimos chamados inseridos</h4>
                    <a class="btn btn-success" th:href="@{ticket/export}">Exportar  <i style="vertical-align: middle;" class="mdi mdi-file-excel"></i> </a>
                  </div>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data de Abertura</th>
                        <th scope="col">Titulo do Chamado</th>
                        <th scope="col">Observação do Chamado</th>
                        <th scope="col">Prioridade</th>
                        <th scope="col">Status</th>
                        <th scope="col">Técnico Responsável</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="chamados : ${chamadosList}">
                        <td th:text="${chamados.id}"></td>
                        <td th:text="${chamados.dataAbertura}"></td>
                        <td th:text="${chamados.titulo}"></td>
                        <td th:text="${chamados.observacao}"></td>
                        <td th:text="${chamados.prioridade}"></td>
                        <td th:text="${chamados.status}"></td>
                        <td th:text="${chamados.tecnico.nome}"></td>
                      </tr>
                      
                    </tbody>
                  </table>
                  <!-- paginação da tabela -->
                  <nav class="m-4">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item" th:each=" i : ${#numbers.sequence(1, chamadosList.totalPages)}">
                        <a class="page-link" th:text="${i}" th:href="@{/(page=${i})}">1</a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="col-md-12 grid-margin transparent">
             <!-- conteudo indefinido -->
            </div>
          </div>
          <!-- end content wrapper -->
        </div>
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2022 - Jamerson Souza </span>
          </div>
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved. <a href="https://www.themewagon.com/" target="_blank">Distributed by Themewagon</a></span> 
          </div>
        </footer> 
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>   
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/template.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>

</html>

