<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{fragments/head :: headImports}"></head>
  <style>
    .lblCliente{font-weight: bold;}
  </style>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">

          <!-- cabeçalho boas vindas -->
          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                  <h3 class="font-weight-bold">Redefinição de senha</h3>
                </div>
              </div>
            </div>
          </div>
                <!-- conteúdo principal -->
        <form th:action="@{/redefinir-senha}" th:object="${resetPasswordUserDAO}" method="post">
            <div class="row">
                <div class="form-group col-6">
                    <label for="nome" class="lblCliente">Senha Atual:</label>
                    <input type="password" th:field="*{senhaAtual}" class="form-control" autocomplete="off" id="nome" placeholder="Senha Atual: ">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="email" class="lblCliente">Nova senha:</label>
                    <input type="password" th:field="*{novaSenha}" class="form-control" autocomplete="off"  id="email" placeholder="Nova senha: ">
            </div>
        </div>
                <button type="submit" class="btn btn-success btn-rounded mt-4">SALVAR INFORMAÇÕES</button>
            </form>
          
        </div>
        </div> 
</body>
</html>